.bg-primary{
    background-color: $themecolor-primary !important;
}
.bg-secondary{
    background-color: $themecolor-secondary !important;
}





.text-whie{
    color: #fff;
}

.text-gray{
    color: #eee !important;
}
.text-gray-dark{
    color: rgb(56, 55, 55) !important;
}


.text-bold{
    font-weight: bold;
}

.w-95{
    width: 95%;
}