.bg-primary {
  background-color: #7CC5C3 !important;
}

.bg-secondary {
  background-color: #C9FCFB !important;
}

.text-whie {
  color: #fff;
}

.text-gray {
  color: #eee !important;
}

.text-gray-dark {
  color: #383737 !important;
}

.text-bold {
  font-weight: bold;
}

.w-95 {
  width: 95%;
}

.navbar {
  width: 100vw;
  position: fixed;
  z-index: 100;
}

.navbar .navbar-nav {
  width: 250px;
}

.navbar .navbar-nav .nav-link {
  color: #244D49;
}

.navbar .navbar-nav .nav-link:hover {
  color: #F1F4FC !important;
}

.navbar .navbar-nav .hvr-underline-from-center:before {
  background-color: #244D49;
}

.banner {
  width: 100vw;
  height: 75vh;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.banner .banner-inside {
  position: absolute;
  top: 30%;
  left: 5%;
}

.banner_text {
  background-color: rgba(124, 197, 195, 0.6);
  padding: 20px;
  border-radius: 10px;
}

.banner_text .banner_text_title {
  font-size: 20px;
  color: #244D49;
  margin-bottom: 20px;
}

.banner_text .banner_text_content {
  color: #383737;
  font-size: 18px;
  line-height: 28px;
}

.banner_text .banner_text_content span {
  font-size: 28px;
  font-weight: bold;
}

.main .info_content {
  font-size: 1.2rem;
  border: 3px dashed #7CC5C3;
  padding: 20px 50px;
}

.main .info_content .item {
  font-weight: bold;
}

.main .photo .pixbox {
  border: 2px dashed #7CC5C3;
  width: 110px;
  height: 110px;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1200px) {
  .main .photo .pixbox {
    width: 120px;
    height: 120px;
  }
}

.main .photo .pixbox01 {
  background-image: url(../img/daily/01.jpg);
}

.main .photo .pixbox02 {
  background-image: url(../img/daily/02.jpg);
}

.swiper-container {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.swiper-container .swiper-wrapper {
  height: auto;
}

.swiper-container .swiper-wrapper .swiper-slide {
  height: auto;
  text-align: center;
  font-size: 18px;
  background: transparent;
}

.swiper-container .swiper-wrapper .swiper-slide img {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.4;
  -webkit-box-shadow: 5px 3px 10px #292828;
          box-shadow: 5px 3px 10px #292828;
}

.swiper-container .swiper-wrapper .swiper-slide .swiper-text {
  display: none;
  color: #383737 !important;
  margin-bottom: 0;
}

.swiper-container .swiper-wrapper .swiper-slide-active .swiper-text {
  display: block;
}

.swiper-container .swiper-wrapper .swiper-slide-active img {
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: auto;
}

.swiper-pagination {
  left: 50% !important;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #000;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #7CC5C3;
}

.subtitle {
  margin-top: 3rem;
}

.subtitle .box {
  width: 25px;
  height: 12px;
  background-color: #7CC5C3;
  margin: auto;
}

.subtitle p {
  font-weight: bold;
  font-size: 24px;
}

.plug-in {
  width: 700px;
}
/*# sourceMappingURL=all.css.map */