@import 'var';
@import 'style';

body{
    height: 2000px;
}
.navbar{
    width: 100vw;
    position: fixed;
    z-index: 100;
    .navbar-nav{
        width: 250px;
    }
}

.nav-link{
    color: #244D49;
    &:hover{
        color: #F1F4FC !important;
    }
}

.hvr-underline-from-center:before{
    background-color: #244D49;
}

.parallax{
    width: 100vw;
    height: 75vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}