@import 'var';
@import 'style';
@import 'mixin';
@import 'shared';
@import 'loading';

html {
    scroll-behavior: smooth;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 100;

    .navbar-brand {
        font-family: 'Indie Flower';
        font-size: 28px;

        .fa-heart {
            color: #EC1C24;
        }
    }

    .navbar-nav {
        width: 300px;

        .nav-link {
            color: $themecolor-dark;

            &:hover {
                color: #F1F4FC !important;
            }
        }

        .hvr-underline-from-center:before {
            background-color: $themecolor-dark;
        }
    }
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @media (max-width: 768px) {
        background-attachment: scroll;
    }

    position: relative;

    .banner-inside {
        position: absolute;
        top: 30%;
        left: 5%;
    }
}

.banner_text {
    // width: 20%;
    background-color: rgba(124, 197, 195, 0.6);
    padding: 20px;
    border-radius: 10px;

    .banner_text_title {
        font-size: 20px;
        color: $themecolor-dark;
        margin-bottom: 20px;
    }

    .banner_text_content {
        color: rgb(56, 55, 55);
        font-size: 18px;
        line-height: 28px;

        span {
            font-size: 28px;
            font-weight: bold;
        }
    }
}

.banner_video {
    mix-blend-mode: multiply;
}

.banner_video_inside {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.banner_video_outside {
    width: 25%;

    position: absolute;
    bottom: -32px;
    right: -5px;
}


.main {
    width: 99vw;
    overflow: hidden;
    .info_content {
        width: 100%;
        font-size: 1.2rem;
        border: 3px dashed $themecolor-primary;
        padding: 20px 30px;

        @include sm {
            width: 90%;
            padding: 20px 50px;
        }

        @include md {
            width: 80%;
            padding: 20px 100px;
        }

        .item {
            font-weight: bold;
        }
    }

    .photo {
        .pixbox {
            border: 2.5px dashed $themecolor-primary;
            width: 110px;
            height: 110px;
            // background-color: gray;
            // background-image: url(../img/daily/01.jpg);
            background-position: center;
            background-size: cover;

            @include xlg {
                width: 120px;
                height: 120px;
            }
        }

        @for $i from 0 through 9 {
            .pixbox0#{$i} {
                background-image: url(../img/daily/0#{$i}.jpg);
            }

            .pixbox1#{$i} {
                background-image: url(../img/daily/1#{$i}.jpg);
            }
        }
    }

    .family {
        width: 100%;
    }
}

.hvr-bounce-in:active,
.hvr-bounce-in:focus,
.hvr-bounce-in:hover {
    position: relative;
    z-index: 100;
}

//滑播圖
.swiper-container {
    width: 100%;
    height: auto;
    padding-bottom: 50px;

    .swiper-wrapper {
        height: auto;

        .swiper-slide {
            height: auto;
            text-align: center;
            font-size: 18px;
            background: transparent;

            img {
                background-color: rgba(0, 0, 0, 0.6);
                opacity: 0.4;
                box-shadow: 5px 3px 10px rgb(41, 40, 40);
            }

            .swiper-text {
                display: none;
                color: rgb(56, 55, 55) !important;
                margin-bottom: 0;
            }
        }

        .swiper-slide-active {
            .swiper-text {
                display: block;
            }

            img {
                opacity: 1;
            }
        }
    }

}

//進度球
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    width: auto;
}

.swiper-pagination {
    left: 50% !important;
    transform: translateX(-50%);
}

.swiper-pagination-bullets {
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #000;
    }

    .swiper-pagination-bullet-active {
        background-color: $themecolor-primary;
    }
}


.subtitle {
    margin-top: 3rem;

    .box {
        width: 25px;
        height: 12px;
        background-color: $themecolor-primary;
        margin: auto;
    }

    p {
        font-weight: bold;
        font-size: 24px;
    }
}

.plug-in {
    width: 700px;
    // border: 1px solid black;
}


//假錨點
.fake-anchor {
    width: 50px;
    height: 10px;
    // background-color: aquamarine; 

    position: absolute;
    left: 0;
}

#about {
    top: -26px;
}

#family,
#guestbook {
    top: -10px;
}