@import 'var';
@import 'style';
@import 'mixin';

.navbar{
    width: 100vw;
    position: fixed;
    z-index: 100;
    .navbar-nav{
        width: 250px;
        .nav-link{
            color:$themecolor-dark;
            &:hover{
                color: #F1F4FC !important;
            }
        }
        .hvr-underline-from-center:before{
            background-color:$themecolor-dark;
        }
    }
}

.banner{
    width: 100vw;
    height: 75vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
    .banner-inside{
        position: absolute;
        top: 30%;
        left: 5%;
    }  
}
.banner_text{
    // width: 20%;
    background-color: rgba(124,197,195,0.6);
    padding: 20px;
    border-radius: 10px;

    .banner_text_title{
        font-size:20px;
        color: $themecolor-dark;
        margin-bottom: 20px;
    }
    .banner_text_content{
        color: rgb(56, 55, 55);
        font-size: 18px;
        line-height: 28px;
        span{
            font-size: 28px;
            font-weight: bold;
        }
    }
}

.main{
    .info_content{
        font-size: 1.2rem;
        border: 3px dashed $themecolor-primary;
        padding: 20px 50px;
        .item{
            font-weight: bold;
        }
    }
    .photo{
        .pixbox{
            border: 2px dashed $themecolor-primary;
            width: 110px;
            height: 110px;
            background-color: gray;
            // background-image: url(../img/daily/01.jpg);
            background-position: center;
            background-size: cover;
            @include xlg{
                width: 120px;
                height: 120px;
            }
        }
        @for $i from 1 through 2{
            .pixbox0#{$i} {
                background-image: url(../img/daily/0#{$i}.jpg);
            }
        }
    }
}



.subtitle{
    margin-top: 3rem;
    .box{
        width: 25px;
        height: 12px;
        background-color:$themecolor-primary;
        margin: auto;
    }
    p{
        font-weight: bold;
        font-size: 24px;
    }
}



